* {
    margin: 0;
    padding: 0;
}
.menu-container {
    display: flex;
    justify-content: space-evenly;
    background-color: black;
    color: white;
    padding: 15px;
}
.company-logo {
   
}
.menu-item {
    display: flex;
}
.menu-item li {
    list-style: none;
    margin: 5px;
    padding: 10px;
    font-size: 18px;
}
.menu-item li:hover {
    color: brown;
    cursor: pointer;
}
.banner-container{
    display: flex;
    width:100%;
    height: 100vh;
    align-items: center;
    background-color: black;
}
.banner-text {
    color: brown;
    font-size:25px ;
}
.title1 {
    color: white;
    font-weight: bolder;
    font-size: 60px;
}



